In [1]:
import pandas as pd
pd.__version__

'2.2.2'

#### Definindo os dados

In [2]:
dict_metrics = {"idade": [15, 18, 25, 26, 40, 40, 58, 60],
                "altura": [160, 165, 149, 168, 172, 174, 174, 178]}

In [3]:
type(dict_metrics)

dict

In [4]:
#Criar dataframe

df = pd.DataFrame(dict_metrics)

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df

   idade  altura
0     15     160
1     18     165
2     25     149
3     26     168
4     40     172
5     40     174
6     58     174
7     60     178