In [1]:
import pandas as pd
pd.__version__

'2.2.2'

#### Definindo os dados

In [2]:
dict_metrics = {"idade": [15, 18, 25, 26, 40, 40, 58, 60],
                "altura": [160, 165, 149, 168, 172, 174, 174, 178]}

In [3]:
type(dict_metrics)

dict

In [4]:
#Criar dataframe

df = pd.DataFrame(dict_metrics)

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df

   idade  altura
0     15     160
1     18     165
2     25     149
3     26     168
4     40     172
5     40     174
6     58     174
7     60     178

#### Medidas de posição
- Média: soma de todos os valores dividida pelo número de valores. É a medida mais comum de tendência central. Pode ser sensível a valores extremos.
- Mediana: É o valor do meio quando os dados estão ordenados. Não sofre por valores extremos. É útil em distribuições assimétricas.
- Moda: É o valor que ocorre com maior frequência. É útil em dados categóricos ou quando deseja-se identificar valores com maior frequência.

In [8]:
#Duas formas de acessar uma coluna no dataframe

df["idade"] #OU

0    15
1    18
2    25
3    26
4    40
5    40
6    58
7    60
Name: idade, dtype: int64

In [9]:
df.idade

0    15
1    18
2    25
3    26
4    40
5    40
6    58
7    60
Name: idade, dtype: int64

In [12]:
#Média de cada coluna

print(f'A média da idade é: {df["idade"].mean()} anos.')
print(f'A média da altura é: {df["altura"].mean()} cm.')

A média da idade é: 35.25 anos.
A média da altura é: 167.5 cm.

In [20]:
##Mediana de cada coluna

print(f'A mediana da idade é: {df["idade"].median()} anos.')
print(f'A mediana da altura é: {df["altura"].median()} cm.')

A mediana da idade é: 33.0 anos.
A mediana da altura é: 170.0 cm.

In [21]:
##Moda de cada coluna

print(f'A moda da idade é: {df["idade"].mode()} anos.')
print(f'A moda da altura é: {df["altura"].mode()} cm.')

A moda da idade é: 0    40
Name: idade, dtype: int64 anos.
A moda da altura é: 0    174
Name: altura, dtype: int64 cm.